body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f3f3f3;
  margin: 0;
  padding: 20px;
}

#score-text {
  color: green;
  font-size: 50px;
}

#high-score {
  color: black;
  font-size: 25px;
}

#feedback1 {
  color: green;
}

#feedback2 {
  color: red;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
}

#answer-buttons button {
  display: block;
  width: 100%;
  margin: 10px 0;
}

#question-text {
  padding-bottom: 20px;
}
